@import "tailwindcss";

/* Enable class-based dark mode for Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --grid-template-columns-sitebar-content: 20rem auto;
  --grid-template-columns-content-navbar: 70ch auto;

  --container-8xl: 90rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  :root {
    /* The color for normal text and other elements that are specially styled */
    --default-color: theme(--color-slate-900);
    /* The normal background color */
    --default-bg: theme(--color-white);
    /* The color for accented elements, such as some navigation items */
    --accent-color: theme(--color-pink-800);
    /* The color for elements that have an accented background (e.g. selected table of contents item) */
    --accent-bg: theme(--color-pink-300);
    /* The color for hovered accented elements */
    --accent-hover-color: theme(--color-pink-600);
  }

  :root.dark {
    --default-color: theme(--color-slate-100);
    --default-bg: theme(--color-slate-900);
    --accent-color: theme(--color-pink-400);
    --accent-bg: theme(--color-pink-900);
    --accent-hover-color: theme(--color-pink-300);
  }
}

body {
  @apply text-lg font-serif;
  color: var(--default-color);
  background-color: var(--default-bg);
}

/** HEADER **/
header {
  @apply w-full z-50 top-0 sticky border-b border-pink-900/10 dark:border-slate-700 p-4;
  background-color: var(--default-bg);

  div#topbar {
    @apply max-w-8xl mx-auto flex flex-wrap items-center justify-between gap-2 sm:gap-4;

    /* Pop-up table of contents on small screens */
    nav#sm-contents {
      /* Only display on small screens */
      @apply lg:hidden;

      /* The button that toggles the small screen table of contents */
      button#toc-toggle {
        @apply cursor-pointer;
        color: var(--accent-color);

        &:hover,
        &:focus-visible {
          color: var(--accent-hover-color);
        }
      }

      /** The actual popover table of contents **/
      div#sm-toc {
        @apply h-svh w-svw backdrop-blur-xs bg-transparent;

        #sm-toc-container {
          @apply flex justify-items-center items-center h-dvh w-dvw;

          div#sm-toc-box {
            @apply p-4 mx-auto rounded-md border border-slate-900 dark:border-slate-600 max-h-4/5 w-4/5 overflow-y-auto overflow-x-auto flex flex-col items-end;
            color: var(--default-color);
            background-color: var(--default-bg);

            /* Button to close the popover */
            button#toc-close {
              @apply cursor-pointer;

              svg {
                &:hover,
                &:focus-visible {
                  stroke: var(--accent-color);
                }
              }
            }
          }
        }

        /* Mobile popover nav list colors */
        .nav-list li {
          a {
            color: var(--default-color);
          }

          &.active a {
            color: var(--accent-color);
          }
        }

        ul {
          @apply p-4 text-lg font-sans;
          color: var(--default-color);

          li {
            a {
              @apply w-full p-4 block focus-visible:no-underline rounded-md focus-visible:ring-1 focus-visible:ring-pink-800 dark:focus-visible:ring-pink-400 hover:ring-1 hover:ring-pink-800 dark:hover:ring-pink-400;
              color: var(--default-color);

              &:hover,
              &:focus-visible {
                color: var(--accent-color);
              }
            }

            &.level1 a {
              @apply font-semibold;
            }
            &.level2 a {
              @apply font-semibold mt-1;
            }
            &.level3 a {
              @apply pl-8 mt-1;
            }
            &.level4 a {
              @apply pl-12 mt-1;
            }

            &.active a {
              @apply hover:ring-0 focus:ring-0;
              color: var(--accent-color);
            }
          }
        }
      }
    }
  }

  nav#home {
    @apply inline-block;

    a {
      @apply text-sm font-sans font-semibold py-4 no-underline;
      color: var(--accent-color);

      &:hover {
        color: var(--accent-hover-color);
      }
    }
  }

  nav#external {
    @apply hidden lg:inline-block;

    a {
      @apply text-sm font-sans font-semibold p-4 no-underline;
      color: var(--default-color);

      &:hover {
        color: var(--accent-color);
      }

      svg {
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: sub;
        margin-left: var(--spacing);
      }
    }
  }
}

/** MAIN **/
main {
  @apply max-w-8xl mx-auto my-8 min-h-screen flex;
}

/** Normal table of contents, sticky on left **/
nav#contents {
  @apply hidden lg:block min-w-64 max-w-md mr-8 sticky top-24 self-start flex-shrink-0;

  > div {
    @apply max-h-[calc(100vh-6rem)] overflow-y-auto;
  }

  .nav-list li {
    a {
      @apply text-sm font-sans w-full block px-4 py-1 hover:no-underline;

      &:hover {
        color: var(--accent-color);
      }
    }

    &.level1 a {
      @apply font-semibold;
    }
    &.level2 a {
      @apply font-semibold mt-1;
    }
    &.level3 a {
      @apply pl-8 mt-1;
    }
    &.level4 a {
      @apply pl-12 mt-1;
    }

    &.active a {
      @apply rounded-e-full;
      color: var(--accent-color);
      background-color: var(--accent-bg);

      &:hover {
        background-color: var(--accent-bg);
      }
    }
  }
}

/** PAGEBAR **/
nav#pagebar {
  @apply hidden lg:block min-w-60 max-w-64 ml-8 sticky top-24 self-start flex-shrink-0;

  > div {
    @apply max-h-[calc(100vh-6rem)] overflow-y-auto;
  }

  p {
    @apply text-sm font-sans font-semibold;
    color: var(--accent-color);
  }

  li a {
    @apply text-sm font-sans no-underline;

    &:hover {
      color: var(--accent-color);
    }
  }
}

/** CONTENTBAR **/
div#contentbar {
  @apply flex-1 mx-auto overflow-y-auto;
}

div#content-inner {
  @apply max-w-3xl mx-auto;
}

/** PAGENAV **/
div#pagenav-wrapper {
  @apply flex flex-row justify-between;
}

a.pagenav {
  @apply text-sm font-sans no-underline hover:no-underline;

  &:hover {
    color: var(--accent-color);
  }
}

/** CONTENT **/
div#content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-sans font-semibold tracking-tight;
  }
  h1 {
    @apply text-4xl mb-9;
  }
  h2 {
    @apply text-2xl mt-6 mb-4;
  }
  h3 {
    @apply text-xl mt-4 mb-2;
  }
  h4 {
    @apply text-lg mt-4 mb-2;
  }
  h5 {
    @apply text-lg mt-4 mb-2;
  }

  p {
    @apply mb-4;
  }

  a {
    @apply underline decoration-dotted decoration-1 hover:decoration-solid;
  }

  ol.arabic {
    @apply list-decimal list-outside pl-4 mb-4;
  }
  ul {
    @apply list-disc list-outside pl-4 mb-4;
  }

  table.footnote tbody tr td {
    @apply pr-4 text-sm;
  }

  div.doodle {
    @apply my-4 mx-auto;
  }
  p img {
    @apply my-4 mx-auto;
  }

  div.callout {
    @apply my-4 p-4;
  }
  div.info {
    @apply bg-blue-200 dark:bg-blue-900/30;
  }
  div.warn {
    @apply bg-amber-200 dark:bg-amber-900/30;
  }

  details summary {
    cursor: pointer;
    @apply text-yellow-800 dark:text-yellow-400;

    > * {
      display: inline;
    }
  }

  .exercise {
    @apply pb-4;

    * {
      grid-column-start: main-start;
      grid-column-end: main-end;
    }
    pre {
      grid-column-start: main-start;
      grid-column-end: overflow-end;
    }
  }

  .solution {
    @apply pb-4;
    grid-column-start: main-start;
    grid-column-end: overflow-end;

    details .solution-body {
      display: grid;
      grid-template-columns:
        [main-start] minmax(20ch, 70ch) [main-end] minmax(0ch, 20ch)
        [overflow-end];

      * {
        grid-column-start: main-start;
        grid-column-end: main-end;
      }
      pre {
        grid-column-start: main-start;
        grid-column-end: overflow-end;
      }
    }
  }

  /** SYNTAX HIGHLIGHTING **/
  pre {
    @apply mb-4 px-4 py-2 bg-slate-100 dark:bg-slate-950 text-slate-700 dark:text-slate-200 rounded-md overflow-x-auto;

    code {
      .number-literal,
      .char-literal,
      .boolean-literal,
      .string-literal {
        @apply text-sky-700 dark:text-sky-300;
      }
      .keyword {
        @apply text-rose-600 dark:text-rose-400;
      }
      .identifier {
        @apply text-pink-800 dark:text-pink-300;
      }
      .type-name {
        @apply text-emerald-700 dark:text-green-300;
      }
      .declaration-name {
        @apply text-blue-600 dark:text-blue-300;
      }
      .comment {
        @apply italic text-slate-400 dark:text-slate-400;
      }
    }
  }

  code {
    @apply text-sm;
    font-family: "Source Code Pro", ui-monospace, monospace;
  }
}

footer {
  @apply mt-4 py-4 border-t border-pink-900/10 dark:border-slate-700 text-pink-900/60 dark:text-slate-400 text-center text-sm font-sans;
}

/** THEME TOGGLE SWITCH **/
.toggle-button {
  @apply border-2 rounded-full w-12 h-6 p-0 relative inline-flex items-center align-middle cursor-pointer;
  transition: border-color 0.3s;
  border-color: var(--default-color);

  .toggle-circle {
    @apply rounded-full w-4 h-4 absolute;
    background-color: var(--default-color);
    left: 2px;
    transition: left 0.3s;
  }

  &.dark-mode {
    .toggle-circle {
      left: 26px;
    }
  }
}

.icon {
  @apply inline stroke-slate-900 dark:stroke-white;
  width: 1em;
  height: 1em;
}
