@import "tailwindcss";

@theme {
  --grid-template-columns-sitebar-content: 20rem auto;
  --grid-template-columns-content-navbar: 70ch auto;

  --container-8xl: 90rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  @apply text-slate-900 text-lg font-serif bg-white;
}

/** HEADER **/
header {
  @apply w-full z-50 top-0 bg-white sticky border-b border-pink-900/10 p-4;
}

header div#topbar {
  @apply max-w-8xl mx-auto flex justify-between;
}

header nav#home {
  @apply inline-block;
}
header nav#home a {
  @apply text-sm text-pink-800 font-sans font-semibold py-4 hover:text-pink-600 no-underline;
}

header nav#external {
  @apply inline-block;
}
header nav#external a {
  @apply text-sm text-slate-900 hover:text-pink-800 font-sans font-semibold p-4 no-underline;
}

/** TOPBAR **/
nav#topbar {
  @apply lg:hidden;
}
div#topbar-nav {
  @apply z-50  h-svh h-screen w-svw w-screen backdrop-blur-xs bg-transparent;
}
div#topbar-nav-container {
  @apply h-screen flex items-center justify-center overflow-y-auto overflow-x-auto;
}
nav#topbar ul {
  @apply p-4 text-lg font-sans;
}
nav#topbar ul li a {
  @apply w-full p-4 block focus:no-underline rounded-md focus:ring-1 focus:ring-pink-800 focus:text-pink-800 hover:ring-1 hover:ring-pink-800 hover:text-pink-800;
}
nav#topbar ul li.level1 a {
  @apply font-semibold;
}
nav#topbar ul li.level2 a {
  @apply font-semibold mt-1;
}
nav#topbar ul li.level3 a {
  @apply pl-8 mt-1;
}
nav#topbar ul li.level4 a {
  @apply pl-12 mt-1;
}
nav#topbar ul li.active a {
  @apply text-pink-800 hover:ring-0 focus:ring-0;
}
/** MAIN **/
main {
  @apply max-w-8xl mx-auto py-8 min-h-screen flex;
}

/** SITEBAR **/
nav#sitebar {
  @apply hidden min-w-60 max-w-md lg:block mr-8;
}
nav#sitebar .nav-list li a {
  @apply text-sm font-sans w-full block px-4 py-1 hover:no-underline hover:text-pink-800;
}
nav#sitebar .nav-list li.level1 a {
  @apply font-semibold;
}
nav#sitebar .nav-list li.level2 a {
  @apply font-semibold mt-1;
}
nav#sitebar .nav-list li.level3 a {
  @apply pl-8 mt-1;
}
nav#sitebar .nav-list li.level4 a {
  @apply pl-12 mt-1;
}
nav#sitebar .nav-list li.active a {
  @apply bg-pink-300 hover:bg-pink-300 text-pink-800 rounded-e-full;
}

/** PAGEBAR **/
nav#pagebar {
  @apply hidden min-w-60 lg:block ml-8;
}
nav#pagebar p {
  @apply text-sm text-pink-800 font-sans font-semibold;
}
nav#pagebar li a {
  @apply text-sm font-sans no-underline hover:text-pink-800;
}

/** CONTENTBAR **/
div#contentbar {
  @apply mx-8 w-full overflow-y-auto;
}

/** PAGENAV **/
a.pagenav {
  @apply text-sm font-sans no-underline hover:no-underline hover:text-pink-800;
}

/** CONTENT **/
div#content h1,
h2,
h3,
h4,
h5 {
  @apply font-sans font-semibold tracking-tight;
}
div#content h1 {
  @apply text-4xl mb-9;
}
div#content h2 {
  @apply text-2xl mt-6 mb-4;
}
div#content h3 {
  @apply text-xl mt-4 mb-2;
}
div#content h4 {
  @apply text-lg mt-4 mb-2;
}
div#content h5 {
  @apply text-lg mt-4 mb-2;
}
div#content p {
  @apply mb-4;
}
div#content a {
  @apply underline decoration-dotted decoration-1 hover:decoration-solid;
}
div#content ol.arabic {
  @apply list-decimal list-outside pl-4 mb-4;
}
div#content ul {
  @apply list-disc list-outside pl-4 mb-4;
}
div#content table.footnote tbody tr td {
  @apply pr-4 text-sm;
}
div#content div.doodle {
  @apply my-4 mx-auto;
}
div#content p img {
  @apply my-4 mx-auto;
}
div#content div.callout {
  @apply my-4 p-4;
}
div#content div.info {
  @apply bg-blue-200;
}
div#content div.warn {
  @apply bg-amber-200;
}
div#content details summary {
  cursor: pointer;
  @apply text-yellow-800;
}
div#content details summary > * {
  display: inline;
}
div#content .exercise {
  @apply pb-4;
}
div#content .exercise * {
  grid-column-start: main-start;
  grid-column-end: main-end;
}
div#content .exercise pre {
  grid-column-start: main-start;
  grid-column-end: overflow-end;
}
div#content .solution {
  @apply pb-4;
  grid-column-start: main-start;
  grid-column-end: overflow-end;
}
div#content .solution details .solution-body {
  display: grid;
  grid-template-columns:
    [main-start] minmax(20ch, 70ch) [main-end] minmax(0ch, 20ch)
    [overflow-end];
}
div#content .solution details .solution-body * {
  grid-column-start: main-start;
  grid-column-end: main-end;
}
div#content .solution details .solution-body pre {
  grid-column-start: main-start;
  grid-column-end: overflow-end;
}

/** SYNTAX HIGHLIGHTING **/
div#content pre {
  @apply mb-4 px-4 py-2 bg-slate-800 text-slate-300 rounded-md overflow-x-auto;
}
div#content code {
  @apply text-sm;
  font-family: "Source Code Pro", ui-monospace, monospace;
}
div#content pre code .number-literal,
.char-literal,
.boolean-literal,
.string-literal {
  @apply text-sky-300;
}
div#content pre code .keyword {
  @apply text-rose-600;
}
div#content pre code .identifier {
  @apply text-pink-300;
}
div#content pre code .type-name {
  @apply text-green-300;
}
div#content pre code .declaration-name {
  @apply text-blue-300;
}
div#content pre code .comment {
  @apply italic;
}

footer {
  @apply mt-4 py-4 border-t border-pink-900/10 text-pink-900/60 text-center text-sm font-sans;
}
